/* Generic */

html {
    overflow: hidden;
}

body {
  background: #151515 url("/resources/img/texture-grunge-383838-tile.png") repeat 0 0;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

/* Header */

#header {
    position: absolute;
    height: 70px;
    width: 420px;
    top: 10px;
    left: 50%;
    margin-left: -210px;
    text-align: center;
}

#header img {
    margin-right: 10px;
}

#header h1 {
    color: white;
    margin-bottom: 0;
}

/* Main */

#main {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 10px;
    width: 220px;
}

#user_list {
    background: #151515;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 60px;
    overflow: auto;
}

#user_list ul {
    margin-bottom: 0;
}

#content {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 240px;
}

#login {
    text-align: center;
    margin-top: 20px;
}

#login label {
    float: none;
    color: white;
    margin-right: 30px;
}


/* Conversation */

#conversation {
    background: white;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    position: absolute;
    overflow: auto;
    bottom: 50px;
    top: 0;
    right: 0;
    left: 0;
}

.line {
    background: url("/resources/img/user.png") no-repeat 5px 5px;
    clear: both;
    display: block;
    margin: 5px 5px 5px 0;
    min-height: 40px;
    padding: 5px 5px 5px 50px;
    border-bottom: 1px solid #ccc;
    text-align:left;
}

.user {
    font-weight: bold;
}

#chatbar {
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 10px;
}

#chatbar input#entry {
    width: 100%;
}

/* Stats */

#stats {
    background: white;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#stats > div {
    padding: 0 5px;
}

